.container {
  background-color: #edf7fa;
}
.container p {
  font-size: 1.3rem;
  text-align: center;
  color: black;
  text-align: center;
}
.container h3 {
  text-align: center;
  letter-spacing: 2px;
  padding: 3rem 0 1rem;
  color: #21243d;
  font-weight: 400;
  font-size: 2.5rem;
}
.email {
  display: grid;
  grid-template-columns: 5rem auto;
}
.email span {
  padding-right: 5rem;
}
.container h4 span:not(.email span) {
  display: none;
}
.container h4:not(.email span) {
  text-align: center;
}
.container div div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 1rem;
}
.email {
  grid-column: span 2;
}
.container h4 {
  color: #26c4c4;
  background-color: #e6f9ff;
  padding: 1rem 1.5rem;
  font-size: 1.4rem;
}
.icon {
  width: 3rem;
  height: 3rem;
  color: black;
}
@media (min-width: 1000px) {
  .containerDiv {
    width: 100rem;
    margin: 0 auto;
  }
  .container p {
    padding: 0 0 2rem;
    width: 60rem;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .email {
    grid-column: auto;
  }
  .container h4 {
    display: grid;
    grid-template-columns: 5rem auto;
    padding: 1.5rem 2rem;
  }
  .container h4 span {
    margin: 0 auto;
    padding-right: 5rem;
  }
  .container h4 span:not(.email span) {
    display: inline-block;
  }
  .container h4:not(.email span) {
    text-align: start;
  }
}
