.container {
  padding: 3rem 0;
  transition: all 1.5s;
}
.container h3 {
  color: #21243d;
  font-weight: 400;
  font-size: 2.5rem;
  padding-left: 1.5rem;
}
.container h3:last-child {
  text-align: right;
}
.projects {
  padding: 4rem 0;
  display: grid;
  gap: 4rem;
}
.project p {
  color: #022249;
  font-size: 1.2rem;
  text-align: center;
  width: 30rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
}
.project h4 {
  font-size: 1.8rem;
  color: #21243d;
  font-weight: 300;
}
.img {
  width: 30rem;
  height: 20rem;
}
.containerImg {
  display: flex;
  gap: 1rem;
}
.miniImg {
  width: 2rem;
  height: 2rem;
}
.containerLinks {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.links span {
  font-size: 1.5rem;
  color: black;
}
.links svg {
  color: black;
  font-size: 1.5rem;
}
@media (min-width: 700px) {
  .project {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 3rem 1.5rem 1fr;
    gap: 2rem;
    column-gap: 4rem;
    margin: 0 auto;
    align-items: stretch;
    width: 94%;
  }
  .project h4 {
    font-size: 3rem;
    font-weight: bold;
  }
  .project p {
    color: #022249;
    font-size: 1.6rem;
    text-align: start;
    width: 100%;
  }
  .img {
    width: 30rem;
    height: 20rem;
    grid-row: span 4;
  }
}
.btn {
  margin: 0 auto;
  display: block;
  padding: 1rem 6rem;
  background-color: #ff6464;
  color: white;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.9rem;
  border: none;
}
@media (min-width: 1000px) {
  .container {
    width: 100rem;
    margin: 0 auto;
  }
  .project {
    width: 100%;
  }
}
