.container {
  background-color: #e6f9ff;
  padding: 4rem 15%;
}
.container h3 {
  color: #26c4c4;
  font-weight: 400;
  font-size: 2.5rem;
}
.container h3:last-child {
  text-align: right;
}
.projects {
  padding: 4rem 0;
  display: grid;
  gap: 4rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project h4 {
  font-size: 1.8rem;
  color: #022249;
  font-weight: 300;
}
.img {
  width: 30rem;
  height: 20rem;
  background-color: #000000;
  box-shadow: 10px -10px 0 #022249;
  border: 1px solid #022249;
}

@media (min-width: 700px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
  .project h4 {
    font-size: 2rem;
    font-weight: 400;
  }
  .img {
    width: 30rem;
    height: 20rem;
    border: 1px solid #022249;
  }
}
@media (min-width: 1200px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
