.container {
  background-color: #edf7fa;
  padding: 4rem 0;
  transition: all 0.5s;
}

.skills {
  max-width: 110rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
}
.slide {
  display: flex;
  align-items: center;
  gap: 9rem;
  width: 100%;
  animation: 25s slide infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1473px);
  }
}
.skills::before {
  position: absolute;
  top: 0;
  left: -5px;
  width: 20rem;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #edf7fa);
  content: "";
  z-index: 3;
}
.skills::after {
  position: absolute;
  top: 0;
  right: -5px;
  width: 20rem;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #edf7fa);
  content: "";
  z-index: 3;
}
.img {
  height: 9rem;
  object-fit: cover;
  margin: 0 auto;
}
.slide:has(.img:hover) {
  animation-play-state: paused;
}
@media (min-width: 700px) {
}
@media (min-width: 1000px) {
  .container {
    padding: 3rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .language img {
    width: 9rem;
    height: 8rem;
    filter: grayscale(90%);
  }
  .language img:hover {
    filter: grayscale(0%);
  }
}
